## Settings file was created by plugin Radar v1.0.9
## Plugin GUID: Tyrian.Radar

[Base Settings]

## Adds a Radar feature to the undersuit when you wear it.
# Setting type: Boolean
# Default value: true
Radar Enabled = true

## Adds the radar pulse effect.
# Setting type: Boolean
# Default value: true
Radar Pulse Enabled = false

## Adds detection for corpse.
# Setting type: Boolean
# Default value: true
Radar Corpse Detection Enabled = true

# Setting type: KeyboardShortcut
# Default value: F10
Short cut for enable/disable radar = F10

# Setting type: KeyboardShortcut
# Default value: F11
Short cut for enable/disable corpse dection = F11

[Color Settings]

# Setting type: Color
# Default value: FF0000FF
Boss Blip Color = FF0000FF

# Setting type: Color
# Default value: 00FF00FF
Scav Blip Color = 00FF00FF

# Setting type: Color
# Default value: FFFF00FF
Usec PMC Blip Color = FFFF00FF

# Setting type: Color
# Default value: FF8000FF
Bear PMC Blip Color = FF8000FF

# Setting type: Color
# Default value: 808080FF
Corpse Blip Color = 808080FF

# Setting type: Color
# Default value: 00B2D9FF
Background Color = 00B2FFA2

[Radar Settings]

## The Scale Offset for the Radar Hud.
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 1
Radar HUD Size = 0.4976526

## This scales the blips distances from the player, effectively zooming it in and out.
# Setting type: Single
# Default value: 0.7
# Acceptable value range: From 0.1 to 2
Radar HUD Blip Disntance Scale Offset = 0.7

## This scales the distance threshold for blips turning into up or down arrows depending on enemies height levels.
# Setting type: Single
# Default value: 1
# Acceptable value range: From 1 to 4
Radar HUD Blip Height Threshold Offset = 1

## The Y Position Offset for the Radar Hud.
# Setting type: Single
# Default value: 0
# Acceptable value range: From -2000 to 2000
Radar HUD Y Position Offset = -56.33766

## The X Position Offset for the Radar Hud.
# Setting type: Single
# Default value: 0
# Acceptable value range: From -2000 to 2000
Radar HUD X Position Offset = -882.629

## The range within which enemies are displayed on the radar.
# Setting type: Single
# Default value: 128
# Acceptable value range: From 32 to 512
Radar Range = 120

## The interval between two scans.
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0.1 to 30
Radar Scan Interval = 0.4384977

