3.7.4 backup/
3.7.5 backup/
Aki_Data/
EscapeFromTarkov_Data/
Minimap/
MonoBleedingEdge/
NLog/

**/BepInEx/cache/

SPTInstaller.exe
UnityPlayer.dll
winhttp.dll
Aki.Launcher.exe
Aki.Server.exe
EscapeFromTarkov.exe

**/DrakiaXYZ-LiveFleaPrices/config/

*.csv
*.log
*.png
*.jpg
